.App {
  text-align: center;
}


  body {
    background-image: linear-gradient(to right,blue, rgb(75, 152, 216));
  }

.nav{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;

}

.nav select{
  text-align: center;
  background-color: blue;
  color: white;
  border: none;
  font-size: 20px;
}

.nav input{
  background-color: rgb(105, 139, 231);
  color: white;
  border: none;
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  margin-left: -40px

}
.container{
  background-color: white;
  height: 70vh;
  width: 30vw;
  border-radius: 10px;
}

.todocontainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  
}
.workingcontainer{
  background-color: white;
  height: 70vh;
  width: 30vw;
  border-radius: 10px;
}
.completedContainer{
  background-color: white;
  height: 70vh;
  width: 30vw; 
  border-radius: 10px;
}
h2{
  padding: 10px;
  text-align: center;
}

.todo input{
  padding: 10px;
  margin-left: 40px;
  width: 50%;
}

.todo{
display: flex;
justify-content: center;
}
.todolist ul li{ 
  display: flex;
  justify-content: space-evenly;

}

.todolist li{
  /* border: 1px solid gray; */
}

